{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Manage Période
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des Périodes</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Période</th>
                      <th>Année Scolaire</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for periode in periodes %}
                    <tr>
                      <td>{{ periode.id }}</td>
                      <td>{{ periode.periode_name }}</td>
                      <td>{{ periode.annee_scolaire }}</td>
                      {% if periode.annee_scolaire.is_complete %}
                      <td ><small class='badge badge-danger'> Fini </small></td>
                      {% else %}
                      <td ><small class='badge badge-success'>En cours </small></td>
                      {% endif %}
                      <td><a href="/edit_periode/{{ periode.id }}" class="btn btn-success">Edit</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

